*{
    margin:0;
    padding:0;
    font-family:"Poppins",sans-serif;
    box-sizing: border-box;
}

body{
    background: black;
    color:#fff;
}

#header{
    width:100%;
    height:100vh;
    background-image: url(/img/natural_disasters_API.jpg);
    background-size:cover;
    background-position: center;
    background-blend-mode: color-dodge; 
 }

 .container img{
    background-color: black;
    border:2px solid rgb(175, 25, 251);
    border-radius: 50px;
    margin:5px 0 20px 0;

 }

.container{
    padding:10px 10%;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap:wrap;
}

nav ul li{
    list-style:none;
    margin:10px 20px;
    display:inline-block;
}

nav ul li a{
    text-decoration: none;
    color:#fff;
    font-size:15px;
    position:relative;
}


nav ul li a::after{
    content:'';
    width:0;
    height: 3px;
    background: #ff004f;
    position:absolute;
    left:0;
    bottom:-6px;
    transition:0.5s;
}

nav ul li a:hover::after{
    width:100%;
}


.header-txt{
    margin-top:15%;
    font-size:20px;
}

.header-txt h2{
    font-size:50px;
    margin-top:20px;
    color:greenyellow;
}

.header-txt h2 span{
    color:rgb(230, 0, 255)
}